*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgb(10, 23, 36);
}

video{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

button{
    border: 0;
    border-radius: 10px;
    margin-top: .5rem;
    padding: .5rem;
    background-color: rgb(23, 109, 109);    
}